<div class="tech-btm">
	<h4>Mail Bültenine Abone Olun.</h4>
	<p>Teknoloji,yazılım ve diğer bloglar...</p>
	<form method="post">
		<input type="email" id="txtmail" name="Mail" placeholder="E-posta Adresi" required="">
		<input type="submit" id="btnmail" value="Abone Ol">
	</form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts
{
<script type="text/javascript">
	@*MAİL İLE ABONE OLMA AJAX*@
		$("#btnmail").click(function () {
			let values = {
				Mail: $("#txtmail").val()//Mail->değeri veritabanındakiyle aynı olmalı
			};
			$.ajax(
				{
					type: "post",
					url: "/Subscribe/SubscribeMailPartial/",
					data: values,//values değişkenime gelen değeri postla ekle
					success: function (func) {
						let result = jQuery.parseJSON(func);
					}
				});
		});
</script>
}