@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "AddMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<h3>Yeni Mesaj Oluştur</h3>
<br />
@using (Html.BeginForm("AddMessage", "Message", FormMethod.Post))
{
    <div>
        <label>Alıcı:</label>
        <input type="text" class="form-control" />
    </div>
    <div style="margin-top:8px">
        <label>Gönderen:</label>
        <input type="text" class="form-control" />
    </div>
    <div style="margin-top:8px">
        <label>Konu:</label>
        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    </div>
    <div style="margin-top:8px">
        <label>Mesajınız</label>
        @Html.TextAreaFor(x => x.MessageContent, new { @class = "form-control",@rows=4 })
        @Html.ValidationMessageFor(x => x.MessageContent, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top:8px">
        <button class="btn btn-primary">Gönder</button>
    </div>
}




